<%= hidden_field_tag "order_id", @order.id %>
<%= hidden_field_tag "number", @order.number %>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="form-check">
      <label class="form-check-label">
        <%= radio_button_tag "type_pagos_net", 'payment_bank' %> Pago en efectivo
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <%= radio_button_tag "type_pagos_net", "credit_cart" %> Tarjeta de credito
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <%= radio_button_tag "type_pagos_net", 'ebaking' %> E-baking
      </label>
    </div>
    <label>
      Nombre a facturar:<%= text_field_tag "name_invoice", "" %>

    </label>
    <label>
      NIT/CI: <%= text_field_tag "ci_invoice", "" %>
    </label>
  </div>

</div>
