<script>
    $(function() {
        var checkout_form = $('#checkout_form_payment');
        var checkout_form_action = checkout_form.prop('action');
        var radio = $('#order_payments_attributes__payment_method_id_<%= payment_method.id %>')
        var change_submit_url = function() {
            checkout_form.prop('action', radio.prop('checked') ? '<%= payment_method.checkout_url %>' : checkout_form_action);
        };
        $('input[type=radio][name="order[payments_attributes][][payment_method_id]"]', checkout_form).change(change_submit_url);
        change_submit_url();
    })
</script>
<% pagos_net_update_url(payment_method.id) %>
<%= hidden_field_tag "order_id", @order.id %>
<%= hidden_field_tag "number", @order.number %>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="form-check">
      <label class="form-check-label">
        <%= radio_button_tag "type_pagos_net", 'payment_bank' %> Pago en efectivo
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <%= radio_button_tag "type_pagos_net", "credit_cart" %> Tarjeta de credito
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <%= radio_button_tag "type_pagos_net", 'ebaking' %> E-baking
      </label>
    </div>
    <label>
      Nombre a facturar:<%= text_field_tag "name_invoice", "" %>

    </label>
    <label>
      NIT/CI: <%= text_field_tag "ci_invoice", "" %>
    </label>
  </div>

</div>
