<div class="panel panel-default">
  <div class="panel-body">
    <h1 class="text-center text-success"><%= accurate_title %></h1>
  <div class="panel panel-default">
    <div class="panel-body ">
      <div class="row ">
        <div class="col-sm-6">
          <h3 class="text-primary">Codigo recaudación:</h3>
        </div>
        <div class="col-sm-6">
          <h2 class="text-danger warning"><%= @pagos_net_bill.code_recaudacion %></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
    <div id="order" data-hook>
    <%= render partial: 'spree/shared/order_details', locals: { order: @order } %>
    <br class="clear"/>
    <p data-hook="links">
      <%= link_to Spree.t(:back_to_store), spree.root_path, class: "button" %>
      <% unless order_just_completed?(@order) %>
        <% if try_spree_current_user && respond_to?(:account_path) %>
          <%= link_to Spree.t(:my_account), account_path, class: "button" %>
        <% end %>
      <% end %>
    </p>
  </div>
    </div>
  </div>

  </div>
</div>

